html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 180%;
  background-color: #010503;
}

main {
  color: rgb(236, 190, 130);
  padding: 3rem 1.5rem;
  margin: 4rem auto;
  max-width: 56rem;
}

* {
  margin-top: 8px;
  border-radius: 4px;
}

input[type='text'],
textarea {
  padding: 1rem;
}

button,
input[type='submit'] {
  background: #012012;
  color: rgb(48, 175, 97);
}

button:hover,
input[type='submit']:hover {
  box-shadow: 0px 0px 4px 2px rgba(130, 236, 178, 0.6);
}

button,
input[type='submit'] {
  cursor: pointer;
}

input[type='submit'] {
  padding: 8px 16px;
}

a:any-link {
  color: rgb(48, 175, 97);
}

main > * + * {
  margin-top: 2rem;
}

div > main > * + * {
  margin-top: 1.5rem;
}

button {
  box-sizing: border-box;
  padding: 8px 16px;
  border: 1px solid rgb(9, 66, 31);
  font-size: 1rem;
}

form > * + * {
  margin-bottom: 16px;
}

input[type='submit'] {
  margin-right: 1rem;
}

input[type='submit'] {
  border: 1px solid rgb(9, 66, 31);
}

a {
  border: 1px solid rgb(9, 66, 31);
  padding: 8px 16px;
  text-align: center;
}

.postBox {
  border: 1px solid rgb(27, 92, 54);
  padding: 2rem;
  margin: 0 auto;
  max-width: 64ch;
}

.postBox {
  margin-top: 1rem;
}

nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 24px;
}

nav > span {
  margin: 0 auto;
}

label {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

input[type='text'] {
  max-width: 24ch;
}

section {
  margin-top: 72px;
  border: 1px solid rgb(27, 92, 54);
  padding: 16px;
  border-radius: 5px;
}

.review-form__wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 16px;
}

.review-form__body-input {
  grid-column: 1 / -1;
}

.review-form__cbox-input {
  width: 24px;
  height: 24px;
}
